<div class="box-body">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group <%= 'has-error' unless @my_application.errors[:position].blank? %>">
        <%= form.label(:position, class: 'col-sm-4 control-label') do
          raw("#{t('activerecord.attributes.my_application.position')}<span class=\"text-red\" title=\"#{t('default.hint.mandatory')}\">*</span>")
        end %>
        <div class="col-sm-8">
          <%= form.text_field :position, class: 'form-control', autofocus: true %>
          <%= show_validation_errors(@my_application.errors[:position]) %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group <%= 'has-error' unless @my_application.errors[:company].blank? %>">
        <%= form.label(:company, class: 'col-sm-2 control-label') do
          raw("#{t('activerecord.attributes.my_application.company')}<span class=\"text-red\" title=\"#{t('default.hint.mandatory')}\">*</span>")
        end %>
        <div class="col-sm-10">
          <%= form.text_field :company, class: 'form-control', autofocus: true %>
          <%= show_validation_errors(@my_application.errors[:company]) %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group <%= 'has-error' unless @my_application.errors[:location].blank? %>">
        <%= form.label(:location, class: 'col-sm-4 control-label') do
          raw("#{t('activerecord.attributes.my_application.location')}<span class=\"text-red\" title=\"#{t('default.hint.mandatory')}\">*</span>")
        end %>
        <div class="col-sm-8">
          <%= form.text_field :location, class: 'form-control', autofocus: true %>
          <%= show_validation_errors(@my_application.errors[:location]) %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group <%= 'has-error' unless @my_application.errors[:began_at].blank? %>">
        <%= form.label :began_at, class: 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= form.text_field :began_at, class: 'form-control datepicker' %>
          <%= show_validation_errors(@my_application.errors[:began_at]) %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group <%= 'has-error' unless @my_application.errors[:cv_url].blank? %>">
        <%= form.label(:cv_url, class: 'col-md-4 control-label') do
          raw("#{t('activerecord.attributes.my_application.cv_url')}<span class=\"text-red\" title=\"#{t('default.hint.mandatory')}\">*</span>")
        end %>
        <div class="col-md-8">
          <%= form.text_field :cv_url, class: 'form-control', autofocus: true %>
          <%= show_validation_errors(@my_application.errors[:cv_url]) %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group <%= 'has-error' unless @my_application.errors[:status].blank? %>">
        <%= form.label :status, class: 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= form.select :status, options_for_enum(@my_application, :status), {}, class: 'form-control' %>
          <%= show_validation_errors(@my_application.errors[:status]) %>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group <%= 'has-error' unless @my_application.errors[:tech_stack_list].blank? %>">
    <%= form.label :tech_stack_list, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= form.select :tech_stack_list, @my_application.tech_stack_list, {}, style: 'width: 100%',
                   class: 'form-control select2', :multiple => true %>
      <%= show_validation_errors(@my_application.errors[:tech_stack_list]) %>
    </div>
  </div>
  <div class="form-group <%= 'has-error' unless @my_application.errors[:job_description].blank? %>">
    <%= form.label :job_description, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= form.text_area :job_description, class: 'textarea-editor' %>
      <%= show_validation_errors(@my_application.errors[:job_description]) %>
    </div>
  </div>
  <div class="form-group <%= 'has-error' unless @my_application.errors[:cover_letter].blank? %>">
    <%= form.label :cover_letter, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= form.text_area :cover_letter, class: 'textarea-editor' %>
      <%= show_validation_errors(@my_application.errors[:cover_letter]) %>
    </div>
  </div>
</div>
<!-- /.box-body -->
<script type="text/javascript">
  $(function () {
    $(".textarea-editor").wysihtml5();

    $(".select2").select2({
      tags: true
    });

    $('.datepicker').datetimepicker({
      format: 'YYYY-MM-DD'
    });
  });
</script>