<!-- timeline item -->
<li>
  <%= interview_icon(interview.type_of) %>
  <div class="timeline-item">
    <span class="time"><i class="fa fa-clock-o"></i> <%= interview.at.strftime('%H:%M') %></span>
    <h3 class="timeline-header"><%= interview.interviewer %></h3>
    <% unless interview.feedback.empty? %>
        <div class="timeline-body"><%= raw(interview.feedback) %></div>
    <% end %>
    <div class="timeline-footer">
      <%= link_to t('button.view_more'), interview, class: 'btn btn-primary btn-xs' %>
      <%= link_to t('button.edit'), edit_interview_path(interview), class: 'btn btn-warning btn-xs' %>
      <%= link_to t('button.delete'), interview, method: :delete, class: 'btn btn-danger btn-xs',
                  data: { confirm: t('messages.are_you_sure') } %>
    </div>
  </div>
</li>
<!-- END timeline item -->