<% content_header t 'interviews.head_title' %>

<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">
          <%= page_entries_info @interviews, entry_name: t('views.pagination.entry_name') %>
        </h3>
        <div class="box-tools">
          <%= link_to t('button.new', item: t('interviews.item')), new_interview_path, class: 'btn btn-default btn-sm' %>
        </div>
      </div> <!-- /.box-header -->
      <div class="box-body">
        <table class="table table-striped table-hover">
          <tbody>
          <tr>
            <th><%= t('activerecord.attributes.interview.at') %></th>
            <th><%= t('activerecord.attributes.interview.my_application') %></th>
            <th><%= t('activerecord.attributes.interview.interviewer_name') %></th>
            <th class="text-center" width="100"></th>
          </tr>
          <% @interviews.each do |interview| %>
          <tr>
            <td><%= link_to localize(interview.at, format: :resumed), interview %></td>
            <td><%= interview.application %></td>
            <td><%= interview.interviewer_name %></td>
            <td class="text-center">
              <%= link_to edit_interview_path(interview), title: t('button.edit'), class: 'btn btn-sm btn-default',
                          data: { container: 'body', toggle: 'tooltip' } do %>
                  <i class="fa fa-pencil"></i>
              <% end %>
              <%= link_to interview, method: :delete, title: t('button.delete'), class: 'btn btn-sm btn-danger',
                          data: { container: 'body', toggle: 'tooltip', confirm: t('messages.are_you_sure') } do %>
                  <i class="fa fa-trash"></i>
              <% end %>
            </td>
          </tr>
          <% end %>
          </tbody>
        </table>
      </div>
      <div class="box-footer">
        <%= paginate @interviews %>
      </div>
    </div>
    <!-- /.box -->
  </div>
</div>