<% content_header t('interviews.head_title'), @interview.application %>

<div class="row">
  <div class="col-lg-12">
    <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title"><%= @interview.application %></h3>
        <div class="box-tools">
          <%= link_to t('button.back'), interviews_path, class: 'btn btn-default btn-sm' %>
          <%= link_to t('button.edit'), edit_interview_path(@interview), class: 'btn btn-warning btn-sm' %>
          <%= link_to t('button.delete'), @interview, method: :delete, class: 'btn btn-danger btn-sm',
                      data: { confirm: t('messages.are_you_sure') } %>
        </div>
      </div><!-- /.box-header -->
      <div class="box-body">
        <dl class="dl-horizontal">
          <dt><%= t('activerecord.attributes.interview.my_application') %></dt>
          <dd><%= link_to @interview.application, my_application_path(@interview.my_application) %></dd>
          <dt><%= t('activerecord.attributes.interview.interviewer_name') %></dt>
          <dd><%= @interview.interviewer_name %></dd>
          <dt><%= t('activerecord.attributes.interview.interviewer_email') %></dt>
          <dd><%= @interview.interviewer_email %></dd>
          <dt><%= t('activerecord.attributes.interview.at') %></dt>
          <dd><%= localize(@interview.at) %></dd>
          <dt><%= t('activerecord.attributes.interview.type_of') %></dt>
          <dd><%= translate_enum(@interview, :type_of) %></dd>
        </dl>
        <div class="nav-tabs-custom">
          <ul class="nav nav-tabs" id="myTabs">
            <li class="active"><a href="#notes" data-toggle="tab"><%= t('interviews.tabs.notes') %></a></li>
            <li><a href="#feedback" data-toggle="tab"><%= t('interviews.tabs.feedback') %></a></li>
          </ul>
          <div class="tab-content">
            <div class="active tab-pane" id="notes"><%= raw(@interview.notes) %></div>
            <div class="tab-pane" id="feedback"><%= raw(@interview.feedback) %></div>
          </div>
        </div>
      </div>
      <!-- /.box-footer -->
    </div>
  </div>
</div>