<div class="box-body">
  <div class="form-group <%= 'has-error' unless @cover_letter.errors[:title].blank? %>">
    <%= form.label(:title, class: 'col-sm-2 control-label') do
      raw("#{t('activerecord.attributes.cover_letter.title')}<span class=\"text-red\" title=\"#{t('default.hint.mandatory')}\">*</span>")
    end %>
    <div class="col-sm-10">
      <%= form.text_field :title, class: 'form-control', autofocus: true %>
      <%= show_validation_errors(@cover_letter.errors[:title]) %>
    </div>
  </div>
  <div class="form-group <%= 'has-error' unless @cover_letter.errors[:content].blank? %>">
    <%= form.label(:content, class: 'col-sm-2 control-label') do
      raw("#{t('activerecord.attributes.cover_letter.content')}<span class=\"text-red\" title=\"#{t('default.hint.mandatory')}\">*</span>")
    end %>
    <div class="col-sm-10">
      <%= form.text_area :content, class: 'tinymce', rows: 10 %>
      <%= show_validation_errors(@cover_letter.errors[:content]) %>
    </div>
  </div>
</div>
<%= tinymce_assets %>
<%= tinymce %>
