<% content_header t('cover_letters.head_title'), 'New' %>

<div class="row">
  <div class="col-lg-12">
    <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title"><%= t('cover_letters.box_title') %></h3>
      </div><!-- /.box-header -->

      <!-- form start -->
      <%= form_for(@cover_letter, html: { class: 'form-horizontal' }) do |form| %>
      <%= render 'form', form: form %>
      <div class="box-footer">
        <%= form.submit t('button.save'), class: 'btn btn-primary' %>
        <%= link_to t('button.cancel'), cover_letters_path, class: 'btn btn-default' %>
      </div>
      <!-- /.box-footer -->
      <% end %>
      <!-- /.form -->
    </div>
  </div>
</div>

