<div class="box box-info">
  <div class="box-header with-border">
    <h3 class="box-title"><%= t('home.last_interviews.box_head') %></h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <div class="table-responsive">
      <table class="table no-margin">
        <thead>
          <tr>
            <th width="130"><%= t('activerecord.attributes.interview.at') %></th>
            <th><%= t('activerecord.attributes.interview.my_application') %></th>
            <th><%= t('activerecord.attributes.interview.interviewer_name') %></th>
          </tr>
        </thead>
        <tbody>
        <% @interviews.each do |interview| %>
          <tr>
            <td class="text-center"><%= link_to localize(interview.at, format: :resumed), interview %></td>
            <td><%= interview.application %></td>
            <td><%= interview.interviewer %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <!-- /.table-responsive -->
  </div>
  <!-- /.box-body -->
  <div class="box-footer clearfix">
    <%= link_to t('button.new', item: t('interviews.item')), new_interview_path,
                class: 'btn btn-sm btn-info btn-flat pull-left' %>
    <%= link_to t('home.last_interviews.view_all'), interviews_path,
                class: 'btn btn-sm btn-default btn-flat pull-right' %>
  </div>
  <!-- /.box-footer -->
</div>